.card {
  margin: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card p {
  margin: 15px;
  text-align: center;
  font-size: 0.8rem;
}
